@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #3b4aed;
    height: 90vh;
    color: whitesmoke;
}

#main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0 10vh 0;
}

.titleH1 {
    text-align: center;
    padding: 0 5vw;
}

.paragraph {
    text-align: center;
    margin: 20px 40px;
    padding: 10px 40px;
}